# WordPress Core
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# WordPress Config & Content
/wp-config.php
/wp-content/upgrade
/wp-content/uploads
/wp-content/upgrade-temp-backup
/wp-content/cache
/koko-analytics-collect.php
/llms.txt 

# Logs
*.log
*.sql
*_log.txt 

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
.idea

# Secrets
/wp-config.php
/.env 
/config.php

# NPM 
/node_modules

# IDE's
.vscode

# Tooling
.phpcs-cache
__pycache__
