@import "colors.scss";
@import "normalize.scss";
@import "utilities.scss";
@import "global.scss";
@import "grid.scss";


.site-header {
  margin-bottom: 40px;
  line-height: 48px;
}

.site-header-1 {
  float: left;
}

.site-header-2 {
  float: right;
}

.dot {
  background: $main_color;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px; /* to align with text */
}

.small-dot {
  @extend .dot;
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
}

.site-title {
  margin: 0;

  a{
    font-size: 32px;
    color: #222;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.site-footer {
  color: #888;
  margin-top: 40px;
  font-size: 14px;

  a{
    color: #777;
    text-decoration: underline;

    &:hover {
      color: #333;
    }
  }
}

.site-nav {
  a {
    padding: 4px 8px;
    color: #222;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 2px solid transparent;

    &:active,
    &.active {
      border-color: #222;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: #AAA;
    }

  }

}

.post-title{
  &:before {
    color: #BBB;
    content: "//";
    margin-right: 8px;
  }
}

.post-content {
  h1, h2, h3, h4, h5 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

@import "highlight-github.scss";


@media screen and (max-width: 540px) {
  .site-header-1,
  .site-header-2 {
    float: none;
    display: block;
    text-align: center;
  }

  .site-nav a {
    margin: 0;
  }
}
