.muted {
  color: #888;
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.meta {
  color: #888;
  font-size: 14px;
}

.small-margin {
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

.medium-margin {
  margin: {
    top: 20px;
    bottom: 20px;
  }
}

.big-margin {
  margin: {
    top: 40px;
    bottom: 40px;
  }
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.no-margin {
  margin: 0;
}

.round {
  border-radius: 50%;
}

.slashed:before {
  color: #BBB;
  content: "//";
  margin-right: 8px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.ratio-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.ratio-4x3 {
  padding-bottom: 75%;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}