---
import { getCollection, getEntry } from 'astro:content';
import Layout from "../../layouts/Layout.astro"
import { dateOptions } from '../../const';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf(),
);
const grouped = Object.groupBy(posts, p => p.data.datePublished.getFullYear());

---

<Layout title="Blog">
    <h1>Blog <a href="/feed.xml" title="RSS Feed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><circle cx="6.18" cy="17.82" r="2.18"/><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"/></svg></a></h1>
    {Object.keys(grouped).reverse().map(year => {
        const yearPosts = grouped[Number(year)];
        if (!yearPosts) return null;
        return (
            <h2>{year}</h2>
            <ul>
                {yearPosts.map(post => {
                    return (
                    <li>
                        <a href={`/blog/${post.id}`}>{post.data.title}</a>
                        <small>{post.data.datePublished.toLocaleDateString("en-US", dateOptions)}</small>
                    </li>)
                })}
            </ul>
        )
    })}
</Layout>
<style>
    small { display: block; }
</style>
