<footer class="site-footer">
  <div class="container">
    <p>
      <span class="small-dot"></span> &nbsp;
      find me on
      {% include icon-github.svg %} <a href="https://github.com/dannyvankooten/" rel="me nofollow author">GitHub</a>, 
      {% include icon-mastodon.svg %} <a rel="me nofollow author" href="https://mastodon.dvk.co/@danny">Mastodon</a> 
      or
      {% include icon-twitter.svg %} <a href="https://twitter.com/dannyvankooten/" rel="me nofollow author">Twitter</a>.</p>
  </div>
</footer>