<footer class="site-footer">
  <div class="container">
    <p>
      <span class="small-dot"></span> &nbsp;
      find me on
      {% include icon-github.svg %} <a href="https://github.com/dannyvankooten/" rel="me nofollow author">GitHub</a>, 
      {% include icon-mastodon.svg %} <a rel="me nofollow author" href="https://mastodon.dvk.co/@danny">Mastodon</a> 
      or
      {% include icon-twitter.svg %} <a href="https://twitter.com/dannyvankooten/" rel="me nofollow author">Twitter</a>.</p>
  </div>
</footer>

<script>
// fill img placeholders
var placeholders = document.querySelectorAll('img[data-src]');
[].forEach.call( placeholders, function(el) {
	el.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
	var img = document.createElement('img');
	img.src = el.getAttribute('data-src');
	img.onload = function( e ) {
		el.src = e.target.src;
	}
});
</script>
