<header class="site-header clearfix" role="banner">

  <div class="container">

      <div class="site-header-1">
        {% if page.url == "/" %}
        <h1 class="site-title">
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }} <span class="dot"></span></a>
        </h1>
       {% else %}
        <nav role="navigation">
            <span class="small-dot"></span> &nbsp; <a href="/" rel="home">back to homepage</a>
        </nav>
        {% endif %}
      </div>

    <nav class="site-nav site-header-2" role="navigation">
        <a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>About Me</a>
        <a href="/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}>Blog</a>
        <a href="/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}>Contact</a>
    </nav>

  </div>

</header>
