<header class="site-header cf">
  <div class="container">
    <div class="l">
      {% if page.url == "/" %}
      <h1 class="site-title">
        <a href="{{ site.url }}/">Danny van Kooten</a>
      </h1>
     {% else %}
      <nav>
          <a href="{{ site.url }}/" rel="home">Danny van Kooten</a>
      </nav>
      {% endif %}
    </div>
    <nav class="site-nav r">
        <a href="{{site.url}}/about/" {% if page.url == "/about/" %}class="active"{% endif %}>About Me</a>
        <a href="{{site.url}}/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}>Blog</a>
        <a href="{{site.url}}/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}>Contact</a>
    </nav>
  </div>
</header>
