body{background: white; color: black; margin:0 auto; padding:1em; font: 18px Helvetica,Arial,sans-serif; max-width:680px; overflow-y:scroll;} 
a{color:black} 
a:hover,a:focus{background:black; color:white;} 
header a{text-decoration:none; font-size:36px; font-weight:bold;}
nav{margin:2em 0; padding-bottom:2em; border-bottom:1px dotted;}
nav a{margin-right:2vw;}
img{max-width:100%; height:auto;}
h1{margin:0;}
h1 a{text-decoration:none;}
main{line-height:1.6;}
h2,h3,h4,h5{margin:2em 0 0;}
p,blockquote,ul,table,pre,hr {margin:1em 0;}
ul{padding-left:1em;}
blockquote{background:#eef5fa; padding:0 1em; border:1px solid #dae9f4;}
hr{border:1px dotted;}
pre code{border:1px solid #fff1d6; display:block; overflow-x:auto; padding:4px; background:#fffaf0;}
table{border-collapse:collapse;}
th,td{word-break:break-all; text-align:left; padding:2px 4px;}
footer{border-top:1px dotted; margin:2em 0 0; padding-top:2em;} 
footer svg{vertical-align:middle;}
footer a{color:#595959;}
small{color:#595959;}