@import "colors.scss";

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  padding: 20px;
  color: #222;
  overflow-y: scroll;
  background: white;
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  color: $main_color;
  text-decoration: underline;
}


a:focus,
a:hover {
  color: darken( $main_color, 20%);
  text-decoration: underline;
  cursor: pointer;
}

code {
  display: inline-block;
  padding: 1px 2px;
  background-color: rgba(0,0,0,0.08);
}

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

textarea {
  overflow: auto;
}


iframe {
  border: 1px solid #333;
}

img{
  max-width: 100%;
  height: auto;
  border-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

h5, h6 {
  font-size: 16px;
}

ul {
  padding-left: 20px;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
}

p {
  margin: 20px 0;
}

figure {
  margin: 0;
}

blockquote {
  border-left: 10px solid #eee;
  padding-left: 20px;
  margin: 20px 0;
  font-style: italic;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table th,
table td {
	word-break: break-all;
    text-align: left;
    border: 1px solid #eee;
    padding: 3px 6px;
}

tbody > tr:nth-of-type(odd) {
	background: rgba( 50, 50, 50, 0.025);
}

hr {
  box-sizing: content-box; /* 1 */
  overflow: visible; /* 2 */
    height: 0;
    border-top: 1px solid #eee;
    margin-top: 40px;
    margin-bottom: 40px;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}