.container {
  box-sizing: border-box;
  max-width: 720px;
  margin: {
    left: auto;
    right: auto;
  }
}

.row {
  display: flex;

  margin: {
    left: -20px;
    right: -20px;
  }
}

.col {
  margin: {
    left: 20px;
    right: 20px;
  }

  max-width: 50%;
}



@media screen and (max-width: 640px) {
  .row {
    display: block;
  }

  .col {
    max-width: 100%;
  }

}