.muted {
  color: #767676;
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.meta {
  color: #767676;
  font-size: 14px;
}

.small-margin {
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

.medium-margin {
  margin: {
    top: 20px;
    bottom: 20px;
  }
}

.big-margin {
  margin: {
    top: 40px;
    bottom: 40px;
  }
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.no-margin {
  margin: 0;
}

.italic {
  font-style: italic;
}

.well {
  background: #eef5fa;
  border: 1px solid #dae9f4;
  padding: 20px;
  box-shadow: 0 0 1px 1px #eee;

}

.round {
  border-radius: 50%;
}

.slashed:before {
  color: #BBB;
  content: "//";
  margin-right: 8px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media(min-width: 600px) {
	.desktop-pull-right {
		float: right;
		margin-left: 20px;
	}

	.desktop-pull-left {
		float: left;
		margin-right: 20px;
	}
}
