html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
body {
  color: #515151;
  background-color: #fff;
}
a {
  color: blue;
}
a:visited {
  color: purple;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 2rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: 14px;
}
code {
  color: #bf616a;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
}
pre code {
  display: block;
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: hsl(210, 15%, 22%);
  color: hsl(219, 28%, 88%);
  padding: 1rem;
  border-radius: 3px;
  overflow-x: auto;
}
pre code.language-filename {
    margin-bottom: -1rem;
    border-bottom: 1px solid #AAA;
}
pre code.language-filename:before {
    content: "File: ";
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}

img {
  height: auto;
  max-width: 100%;
  margin: 0 0 1rem;
  border: 0;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*
 * Messages
 */
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

.container {
  max-width: 38rem;
  padding: 0 24px;
  margin-left:  auto;
  margin-right: auto;
}

.content {
  margin-bottom: 4em;
}
.content h1,
.content h1 a {
  color: #303030;
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #777;
}

/*
 * Sidebar
 */
.sidebar {
  padding: 24px 0;
  color: rgba(255,255,255,.5);
  background-color: #202020;
  box-sizing: border-box;
}
@media (min-width: 48em) {
  .sidebar {
    padding: 48px 24px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
  text-decoration: none;
}

/* About section */
.sidebar-about h2 {
  color: #fff;
  margin-top: 0;
  font-size: 1.4rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav a {
  display: block;
  line-height: 1.75;
}
.sidebar-nav a:hover,
.sidebar-nav a:focus {
  text-decoration: underline;
}
.sidebar-nav a.active {
  font-weight: bold;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */
.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


/** Utility */
.muted {
  font-size: 80%;
}
