html {
  -webkit-text-size-adjust: 100%;
}
body {
  color: #e1e1e1;
  background-color: #111111;
  padding: 24px;
  max-width: 760px;
  margin: 0 auto;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  line-height: 1.45;
  font-size: 16px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
header {
  padding-bottom: 48px;
}
footer {
  padding-top: 48px;
  font-size: 90%;
}
main {
  display: block;
}
a {
  color: #6699CC;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}

/* Headings */
h1, h2, h3, h4, h5 {
  line-height: 1.15;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h2, h3, h4, h5, h6 {
  margin: 48px 0 24px;
}
/* whitespace on all block elements */
p, ul, ol, table, blockquote, pre, img, figure, .alert {
  margin: 24px 0;
}
ul, ol {
  padding: 0 0 0 24px;
}
b,
strong {
  font-weight: bolder;
}
ul {
  list-style-type: '- ';
}
li {
  margin: 12px 0;
}
small {
  font-size: 90%;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 12px;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin: 48px 0;
  border: 0;
  height: 1px;
  background: #e1e1e1;
  background: repeating-linear-gradient(90deg,#e1e1e1,#e1e1e1 5px,transparent 5px,transparent 10px);
}
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}
/* Code */
code,
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
code {
  font-size: 14px;
  background-color: hsl(210, 15%, 22%);
  color: hsl(219, 28%, 88%);
}
pre {
  display: block;
}
pre code {
  display: block;
  color: inherit;
  background-color: hsl(210, 15%, 22%);
  color: hsl(219, 28%, 88%);
  padding: 12px;
  font-size: 14px;
  border-radius: 3px;
  overflow-x: auto;
}
pre code.language-filename {
    margin-bottom: -24px;
    border-bottom: 1px solid #666;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
pre code.language-filename:before {
    content: "File: ";
}
blockquote {
  border-left: 5px solid #cce5ff;
  padding: 12px 12px 12px 24px;
}
img {
  height: auto;
  max-width: 100%;
  border: 0;
}
/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  padding: 3px 6px;
  border: 1px solid #222;
  text-align: left;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #222;
}
.site-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header li {
  display: inline-block;
}
.site-header a {
  color: #e1e1e1;
  font-weight: bold;
  padding-right: 12px;
}
.site-header a:hover,
.site-header a:focus {
  color: white;
}
.site-header a.active {
  color: white;
  text-decoration: none;
}

/* alerts */
.alert {
  padding: 12px 12px 12px 24px;
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 4px;
}
.alert a {
  color: #004085;
  font-weight: bold;
}
blockquote *:first-child,
.alert p:first-child {
  margin-top: 0;
}

blockquote *:last-child,
.alert p:last-child {
  margin-bottom: 0;
}
