---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Page not found">
  <main class="content">
    <h1>Page not found</h1>
    <p>There doesn't seem to be anything here. Sorry.</p>
  </main>
</Layout>
