---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import img from '../assets/404.gif';
---
<Layout title="Page not found">
  <main class="content">
    <h1>Page not found</h1>
    <p>There doesn't seem to be anything here. Sorry.</p>
    <Image src={img} alt="This is not the page you are looking for" />
  </main>
</Layout>
