---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { dateOptions } from '../const';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf(),
);

import { Image } from 'astro:assets';
import headshot from '../assets/headshot.webp';

---



<Layout title="Danny van Kooten">
  <main class="content">
    <Image src={headshot} alt="Danny van Kooten" class="headshot" width="120" height="120" />
    
    <p>My name is Danny and I run <a href="https://www.ibericode.com/">ibericode</a>, a small bootstrapped software company from The Netherlands.</p>
    <p>I've been making a living from my products for well over 10 years now. On this site you can <a href="/about/">read some more about me</a> and find links to <a href="/projects/">a small selection of my work</a>.</p>
    <p>Alternatively, you can find me on <a href="https://x.com/dannyvankooten" rel="me nofollow">X (Twitter)</a>, <a href="https://toot.re/@dvk" rel="me nofollow">Mastodon</a>, <a href="https://github.com/dannyvankooten/" rel="me nofollow">Github</a> or <a href="https://www.linkedin.com/in/danny-van-kooten-55498824a/" rel="me nofollow">LinkedIn</a>.</p>
    <p>As of 2026, I am available as a <a href="/hire-me/">freelance PHP developer</a>.</p>

    <h2>Featured projects</h2>
    <div class="featured-projects">
      <a href="https://www.mc4wp.com/" class="featured-project">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 64 64" role="img" aria-label="Mailchimp for WordPress"><circle cx="32" cy="32" r="32" style="fill:#c44"/><path d="M16 47.325c-.03-.093-.175-1.23-.323-2.529-.562-4.936-2.305-9.96-5.202-14.994-.973-1.692-.959-1.751.663-2.684a48.828 48.828 0 0 0 3.038-1.92c1.29-.904 1.487-.822 3.033 1.263 1.28 1.725 1.732 1.999 1.998 1.209.408-1.21 4.748-4.45 5.961-4.45.465 0 1.603 1.364 2.529 3.032.926 1.669 1.853 3.034 2.06 3.035.58.002 1.226-5.916.808-7.413-.293-1.054.213-1.75 2.448-3.363 1.55-1.119 3.016-2.034 3.26-2.034.243 0 2.673 3.413 5.4 7.585 2.726 4.172 6.744 9.862 8.927 12.643l3.969 5.057-2.073 2.191c-1.14 1.206-2.43 2.192-2.864 2.192-1.383 0-5.331-4.39-9-10.007-1.954-2.993-3.753-5.455-3.997-5.471-.244-.017-.444 2.52-.444 5.637v5.667l-2.623 1.75c-1.442.962-2.841 1.748-3.109 1.747-.268-.001-1.285-1.687-2.26-3.746-.976-2.06-2.343-4.352-3.037-5.094l-1.263-1.35-.401 1.893c-1.385 6.524-1.593 6.986-3.904 8.646-2.045 1.47-3.42 2.047-3.594 1.508Z" style="fill:#fff"/></svg>
        <div>
          <strong>Mailchimp for WordPress</strong>
          <span>The #1 Mailchimp plugin for WordPress. 73M+ downloads, 2M+ active installs.</span>
        </div>
      </a>
      <a href="https://www.kokoanalytics.com/" class="featured-project">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 64 64" role="img" aria-label="Koko Analytics"><circle cx="32" cy="32" r="32" shape-rendering="geometricPrecision" style="fill:#b60205"/><path d="M48.42 20.641a.6.6 0 0 0-.66.15L31.984 37.736l-7.36-7.36a.6.6 0 0 0-.848 0l-8.4 8.4a.6.6 0 0 0-.176.424v3.6a.6.6 0 0 0 .6.6h32.4a.6.6 0 0 0 .6-.6V21.2a.6.6 0 0 0-.38-.559z" style="fill:#fff"/><path d="M48.42 20.641a.6.6 0 0 0-.66.15L31.984 37.736l5.664 5.664H48.2a.6.6 0 0 0 .6-.6V21.2a.6.6 0 0 0-.38-.559z" style="fill:#fff"/></svg>
        <div>
          <strong>Koko Analytics</strong>
          <span>Privacy-friendly analytics for WordPress. Open-source, GDPR compliant, fast.</span>
        </div>
      </a>
    </div>

    <h2>More projects</h2>
    <ul class="list-unstyled m-0 p-0">
      <li class="mt-0 mb-4">
        <h3 class="mt-0 mb-2 h6"><a href="https://www.boxzillaplugin.com/">Boxzilla: Pop-ups for WordPress</a></h3>
        <p class="m-0">A WordPress plugin for adding pop-ups with various trigger methods to your site.</p>
      </li>
      <li class="mt-0 mb-4">
        <h3 class="mt-0 mb-2 h6"><a href="https://github.com/dannyvankooten/gozer">Gozer</a></h3>
        <p class="m-0">Simple, fast and opinionated static site generator.</p>
      </li>
      <li class="mt-0 mb-4">
        <h3 class="mt-0 mb-2 h6"><a href="https://github.com/dannyvankooten/1brc">1 Billion Rows Challenge</a></h3>
        <p class="m-0">C implementation of the <a href="/blog/2024/1brc/">1 Billion Rows Challenge</a>, in standard C99 with POSIX threads.</p>
      </li>
      <li class="mt-0 mb-4">
        <h3 class="mt-0 mb-2 h6"><a href="https://github.com/dannyvankooten/nederlang">Nederlang</a></h3>
        <p class="m-0">Bytecode compiler and stack based virtual machine for a toy programming language consisting of Dutch keywords.</p>
      </li>
      <li class="mt-0 mb-4">
        <h3 class="mt-0 mb-2 h6"><a href="https://github.com/dannyvankooten/advent-of-code">Advent of Code</a></h3>
        <p class="m-0">My solutions for Advent of Code 2015 - 2025.</p>
      </li>
    </ul>
    <p>You can find <a href="/projects/">more of my projects here</a>.</p>

    <h2>Latest blog posts</h2>
    <ul class="list-unstyled p-0 m-0">
        {posts.slice(0, 5).map(p => (
            <li class="mb-4 mt-0">
                <h3 class="h6 mt-0 mb-2"><a href={`/blog/${p.id}`}>{p.data.title}</a></h3>
                <p class="text-muted text-small m-0"><time>{p.data.datePublished.toLocaleDateString("en-US", dateOptions)}</time></p>
            </li>
        ))}        
    </ul>
    <p>View <a href="/blog/">all posts on my blog</a>.</p>
  </main>
</Layout>
<style>
    .headshot {
        float: right;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #444;
        margin: 0 0 1rem 1.5rem;
    }
</style>