html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font:18px/1.5 sans-serif;
    background: #24292F;
    color: white; 
}
main {
    display: block;
    background: white;
    color: #24202F;
    padding: 3em 0;
}
a {
    color: #0959DA;
    text-decoration: underline;
}
.container {
    /* optimal line length is 50-75 chars */
    max-width: 650px;
    margin-left:auto;
    margin-right:auto;
    padding-left:1em;
    padding-right:1em
}
.site-header {
    padding:1em 0;
}
.site-header h1, 
.site-header h3 {
    margin: 0 0 1em 0;
    font-size: 1em;
}
.site-header a{
    margin-right: 1em;
}
.site-header a,
.site-footer a {
    text-decoration: none;
    color: white;
}
.site-header nav{
    display:inline-block
}
.site-header a:hover,
.site-header a:focus,
.site-footer a:hover {
    text-decoration:underline
}
.site-header a.active{
    text-decoration:underline dotted
}
.site-footer{
    font-size: 0.9em;
    margin: 3em 0 0;
    background: #24292F;
    color: white;
    padding-bottom: 3em;
}
.site-footer svg{
    vertical-align:middle
}
b, strong {
    font-weight: bolder;
}
li {
    margin: 4px 0;
}
img{
    max-width:100%;
    height:auto
}
h1{
    line-height: 1.2;
    margin: 0;
    font-size: 26px;
}
h2,h3,h4,h5{
    line-height: 1.2;
    margin:3em 0 1em
}
p,blockquote,ul,table,pre,hr{
    margin:1em 0
}
ul{
    padding-left:1em
}
blockquote{
    background:#FFF8C5;
    padding:0 1em;
    border:1px solid rgba(212, 167, 44, 0.4);
}
hr{
    display: block;
    height: 1px;
    background: #EEE;
    border: 0; 
    margin:2em 0
}
pre,
pre code{
    font-family: monospace, monospace;
    font-size: 16px;
    background:rgb(39, 43, 51);
    border:1px solid #444;
    display:block;
    overflow-x:auto;
    padding: 12px;
    color: rgb(240, 243, 246);
}

table{
    width: 100%;
    table-layout: auto;
    border-collapse:collapse;
    border: 1px solid #EEE;
    line-break: strict;
}

img {
    border: 1px solid #EEE;
}

th,
td{
    border: 0;
    text-align:left;
    padding: 4px 8px;
}

thead {
    background: #24292F;
    color: white;
}
tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.02);
}
sub,
sup {
    font-size: 80%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }
sup a {
    font-size: 0.8em;
    color: #24202F;
    vertical-align: text-top;
}

small {
    font-size: 80%;
}
small, 
small a{
    color:#57606A
}



@media(min-width:620px) {
    /* move header inline on large screens */
   .site-header h1, 
   .site-header h3{ 
        display: inline-block; 
        margin: 0; 
    }
   .site-header nav{ 
        float: right;
    }
    .site-header nav a:last-child {
        margin-right: 0;
    }
}
