:root {
    --default: #24292F;
    --muted: #57606A;
    --header-bg: #24292F;
    --header-text: white;
    --links: #0969DA;
    --borders: #EEE;
}
body {
    margin: 0;
    font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: var(--header-bg);
    color: var(--header-text); 
}
main {
    background: white;
    color: var(--default);
    padding: 3em 0;
}
a {
    color: var(--links);
    text-decoration: underline;
}
a:hover,
a:focus {
    text-decoration: none;
}

.container {
    /* optimal line length is 50-75 chars */
    max-width: 650px;
    margin-left:auto;
    margin-right:auto;
    padding-left:1em;
    padding-right:1em
}
.site-header {
    padding:1em 0;
}
.site-header h1, 
.site-header h3 {
    margin: 0 0 1em 0;
    font-size: 1em;
}
.site-header a{
    margin-right: 1em;
}
.site-header a,
.site-footer a {
    text-decoration: none;
    color: var(--header-text);
}
.site-header nav{
    display:inline-block
}
.site-header a:hover,
.site-header a:focus,
.site-footer a:hover {
    text-decoration:underline
}
.site-header a.active{
    text-decoration:underline dotted
}
.site-footer{
    font-size: 0.9em;
    margin: 3em 0 0;
    background: var(--header-bg);
    color: var(--header-text);
    padding-bottom: 3em;
}
.site-footer svg{
    vertical-align:middle
}


li {
    margin: 4px 0;
}
img{
    max-width:100%;
    height:auto
}
h1{
    line-height: 1.2;
    margin: 0;
    font-size: 26px;
}
h2,h3,h4,h5{
    line-height: 1.2;
    margin:3em 0 1em
}
p,blockquote,ul,table,pre,hr{
    margin:1em 0
}
ul{
    padding-left:1em
}
blockquote{
    background:#FFF8C5;
    padding:0 1em;
    border:1px solid rgba(212, 167, 44, 0.4);
}
hr{
    display: block;
    height: 1px;
    background: var(--borders);
    border: 0; 
    margin:2em 0
}
pre code{
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 16px;
    background:rgb(39, 43, 51);
    border:1px solid #444;
    display:block;
    overflow-x:auto;
    padding: 12px;
    color: rgb(240, 243, 246);
}

table{
    width: 100%;
    table-layout: auto;
    border-collapse:collapse;
    border: 1px solid var(--borders);
    line-break: strict;
}

img {
    border: 1px solid var(--borders);
}

th,
td{
    border: 0;
    text-align:left;
    padding: 4px 8px;
}

thead {
    background: var(--header-bg);
    color: var(--header-text);
}
tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.02);
}


small, 
small a{
    color:var(--muted)
}



@media(min-width:620px) {
    /* move header inline on large screens */
   .site-header h1, 
   .site-header h3{ 
        display: inline-block; 
        margin: 0; 
    }
   .site-header nav{ 
        float: right;
    }
    .site-header nav a:last-child {
        margin-right: 0;
    }
}
