<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="no-referrer-when-downgrade">
<link rel="icon" href="/img/favicon.png" type="image/png">
<link rel="stylesheet" href="/styles.css">
<title>Page not found | Danny van Kooten</title>
</head>
<body>
  <header class="site-header">
      <nav class="container">
          <ul>
              <li><a href="/" rel="home">Danny van Kooten</a></li>
              <li><a href="/about/">About me</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/contact/">Contact</a></li>
          </ul>

      </nav>
  </header>
  <main>
    <div class="container">
      <h1>Page not found</h1>
      <p>Sorry, but the requested page does not seem to exist (anymore).</p>
    </div>
  </main>
 <footer class="site-footer container">
        <p>Find me on <a href="https://git.sr.ht/~dvko/" class="icon sourcehut" rel="me nofollow author">sourcehut</a> or
        <a href="https://github.com/dannyvankooten/" class="icon github" rel="me nofollow author">GitHub</a>.
      </p>
      <p>All information on this blog is hereby released into the public domain, with no rights reserved.</p>
  </footer>
</body>
</html>
