</main>
<footer>
    <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/bookmarks/">Bookmarks</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/code/">Code</a></li>
        <li><a href="/contact/">Contact me</a></li>
    </ul>
    <ul>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="https://www.mc4wp.com/">Mailchimp for WordPress</a></li>
        <li><a href="https://www.kokoanalytics.com/">Koko Analytics</a></li>
        <li><a href="https://www.htmlformsplugin.com/">HTML Forms plugin</a></li>
    </ul>
    <p>Find me on <a href="https://git.sr.ht/~dvko/" rel="me nofollow author">sourcehut</a>,
        <a href="https://github.com/dannyvankooten/" rel="me nofollow author">GitHub</a> and <a rel="me nofollow author" href="https://toot.re/@dvk">Mastodon</a>.
    </p>
    <p>This website is statically built using <a href="https://github.com/dannyvankooten/gozer" rel="nofollow">Gozer</a> (<a href="https://github.com/dannyvankooten/www.dannyvankooten.com" rel="nofollow">source code</a>).</p>
</footer>
</body>
</html>
