</main>
<hr>
<footer>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/links/">Links</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/feed.xml">Feed</a></li>
        <li><a href="https://github.com/dannyvankooten/" rel="me nofollow author">GitHub</a></li>
        <li><a href="https://toot.re/@dvk" rel="me nofollow author">Mastodon</a></li>
    </ul>
    <p>&#9753; 2010 - 2024 Danny van Kooten &#10087;</p>
</footer>
</body>
</html>
