<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer-when-downgrade">
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
  {% endblock %}
  <link rel="icon" href="{{ get_url(path='/img/favicon.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ get_url(path='/styles.css', cachebust=true) }}">

  {% block head %}{% endblock %}
</head>
<body>
  <header class="site-header">
    <div class="container">
      {%- if current_path == '/' -%}
      <h1><a href="{{ get_url(path='@/_index.md') }}">Danny van Kooten</a></h1>
      {%- else -%}
      <h3><a href="{{ get_url(path='@/_index.md') }}" rel="home">Danny van Kooten</a></h3>
      {%- endif -%}
      <nav>
        <a href="{{ get_url(path='@/about.md') }}" {% if current_path=='/about/' %}class="active" {% endif %}>About me</a>
        <a href="{{ get_url(path='@/blog/_index.md') }}" {% if current_path=='/blog/' %}class="active" {% endif %}>Blog</a>
        <a href="{{ get_url(path='@/contact.md') }}" {% if current_path=='/contact/' %}class="active" {% endif
          %}>Contact</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
    {% block content %} {% endblock %}
    </div>
  </main>
  <footer class="site-footer">
    <div class="container">
        <p>Find me on <a href="https://git.sr.ht/~dvko/" class="icon sourcehut" rel="me nofollow author">sourcehut</a> or  
        <a href="https://github.com/dannyvankooten/" class="icon github" rel="me nofollow author">GitHub</a>.
      </p>
      <p>All information on this blog is hereby released into the public domain, with no rights reserved.</p>
    </div>
  </footer>
</body>
</html>