{{ template "_header.html" }}
    <h1>{{$.Title}}</h1>
    {{$.Content}}

    {{ $year := 0 }}
    {{ range $.Posts }}
        {{- if not (eq .Date.Year $year) }}
            {{- if gt $year 0 }}
                </ul>
            {{- end }}
            <h2>{{ .Date.Year }}</h2>
            <ul>
            {{- $year = .Date.Year -}}
        {{ end }}
        <li>
            <a href="/{{.URLPath}}">{{ .Title }}</a><br />
            <small>{{ .Date.Format "Jan 2, 2006" }}</small>
        </li>
    {{- end -}}
    </ul>

{{ template "_footer.html" }}
