{% extends "base.html" %}

{% block head %}
<title>{{ section.title }} | Danny van Kooten</title>
<link rel="canonical" href="{{ section.permalink | safe}}" />
<meta property="og:title" content="{{ section.title }}" />
<meta property="og:url" content="{{ section.permalink | safe }}" />
<meta property="og:type" content="website" />
{% endblock %}

{% block content %}
<div class="container">
<h1>Blog</h1>
<p>Sometimes, I write.</p>
{%- set_global year = 0 -%}
{%- for post in section.pages -%}
    {%- if post.year != year -%}
    {%- if year > 0 -%}</ul>{% endif %}
    <h2>{{ post.year }}</h2>
    <ul>
    {%- endif -%}
    <li><a href="{{ post.path | safe }}">{{ post.title }}</a><br />
    <small>{{ post.date | date(format="%b %-d, %Y") }}</small></li>
{%- set_global year = post.year -%}
{%- endfor -%}
    </ul>
<p><a href="/atom.xml">Subscribe to new posts on my blog via RSS</a>.</p>
</div>
{% endblock content %}
