<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="no-referrer-when-downgrade">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.url }}">
<link rel="icon" href="{{ '/assets/img/favicon.png' | prepend: site.url }}" type="image/png">
{%- seo -%}
<link rel="stylesheet" href="{{site.url}}/assets/styles.css">
</head>
<body>
  <header class="sh">
    <div class="c">
      {%-if page.url == "/" -%}
        <h1><a href="{{ site.url }}/">Danny van Kooten</a></h1>
      {%- else -%}
        <h3><a href="{{ site.url }}/" rel="home">Danny van Kooten</a></h3>
      {%- endif -%}
      <nav>
        <a href="{{site.url}}/about/" {%- if page.url == '/about/' %} class="active"{% endif %}>About me</a> 
        <a href="{{site.url}}/blog/" {%- if page.url == '/blog/' %} class="active"{% endif %}>Blog</a> 
        <a href="{{site.url}}/contact/" {%- if page.url == '/contact/' %} class="active"{% endif %}>Contact</a>
      </nav>
    </div>
  </header>
  <main class="c">
     {{- content -}}
  </main>
  
    <footer>
      <div class="c">
      <small>Find me on
        {% include icon-github.svg %} <a href="https://github.com/dannyvankooten/" rel="me nofollow author">GitHub</a>.
      </small>
      <br />
      <br />
      <small>All information on this blog is hereby released into the public domain, with no rights reserved.</small>
    </div>
    </footer>
  
</body>
</html>